body {
  overflow-x: hidden; }

#wrapper {
  padding-left: 0; }

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: -60px;
  width: 0;
  height: 100%;
  margin-left: 60px;
  top: 50px;
  overflow-y: auto;
  background: #3f3f3f;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled #sidebar-wrapper {
  width: 60px; }

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  top: 50px;
  left: 50px;
  background-color: #f3f3f3;
  height: 100%; }

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -60px;
  top: 50px;
  left: 50px; }

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 60px;
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
  padding: 20px 10px; }

.sidebar-nav li:first-child {
  padding-top: 5px; }

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999; }

.sidebar-nav li a img {
  display: block;
  margin: 0 auto;
  color: #acacac; }

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2); }

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px; }

.sidebar-nav > .sidebar-brand a {
  color: #999999; }

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none; }

@media (min-width: 768px) {
  #wrapper {
    padding-left: 0; }
  #wrapper.toggled {
    padding-left: 60px; }
  #sidebar-wrapper {
    width: 60px; }
  #wrapper.toggled #sidebar-wrapper {
    width: 60px; }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
    top: 50px;
    left: 50px;
    background-color: #f3f3f3; }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0; } }

.bg-white {
  background-color: #ffffff; }

.shadow {
  box-shadow: 0 2px 4px 0 rgba(113, 113, 113, 0.5); }

.navbar {
  height: 50px; }

.logo {
  width: auto;
  height: 100px; }

.text-heading {
  color: #073566;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700; }

.text-details {
  color: #616161;
  font-size: 14px; }

.form-text-details {
  color: #000000;
  font-size: 11px;
  margin: 0px; }

.form-sub-text-details {
  color: #616161;
  font-size: 11px;
  margin: 3px 0px;
  width: auto; }

.sub-text-black {
  font-weight: bold;
  color: #000000 !important;
  font-size: 12px;
  display: inline; }

.col-divs {
  display: inline-block;
  vertical-align: top; }

.form-block {
  background-color: #ffffff;
  box-shadow: 3px 5px 4px 0px rgba(113, 113, 113, 0.3);
  position: relative;
  min-height: 800px;
  margin-top: 30px;
  padding: 10px; }

.form-block-top {
  margin-bottom: 25px; }

.text-block {
  display: inline-block;
  vertical-align: top; }

.form-logo {
  width: 50px;
  height: auto; }

form input {
  color: #616161 !important;
  font-size: 14px !important;
  border: unset !important;
  border-bottom: 1px solid #ced4da !important;
  border-radius: 0 !important;
  outline: none; }

form input:focus {
  outline: none !important; }

.form-title {
  font-size: 14px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px; }

.form-title-small {
  font-size: 10px;
  color: #616161; }

.p-top-10 {
  padding-top: 10px; }

.empty-block {
  padding: 10px;
  height: 10px; }

.highlight-orange {
  background-color: #f2994a;
  border-radius: 5px;
  width: auto;
  height: auto;
  padding: 2px; }

.fill-form {
  width: 85%; }

.footer {
  background-color: #ffffff;
  height: 50px;
  position: fixed;
  margin: auto;
  height: 50px;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030; }

.f-right {
  float: right; }

.p-10 {
  padding: 10px 10px; }

.nav-btn {
  font-size: 12px; }

.w-half {
  width: 65%; }
